*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Spartan Bold";
    src: url("textfont/Spartan-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Spartan Regular";
    src: url("textfont/Spartan-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Spartan Thin";
    src: url("textfont/Spartan-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Spartan ExtraLight";
    src: url("textfont/Spartan-ExtraLight.ttf") format("truetype");
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --color-gray: #242b37;
    --color-gray-light: #5c6779;
    --dark-bg: #111111;
}

html {
    font-size: 10px;
    font-family: "Spartan Regular", sans-serif;
}

body {font-size: 1.7rem;}

p {line-height: 1.75;}

ul {list-style: none;}

a {text-decoration: none;}

/* HEADINGS */

h1 {
    font-family: "Spartan Thin", sans-serif;
    font-size: 6.2rem;
}

h2 {
    font-family: "Spartan Bold", sans-serif;
    font-size: 4rem;
    color: var(--color-gray);
}

h3 {
    font-family: "Spartan Bold", sans-serif;
    font-size: 1.8rem;
}

/* BASIC AND REUSABLE CLASSES */

.container {
    max-width: 110rem;
    padding: 0 2.4rem;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-2 {
    flex-basis: 45%;
}

.color-grey {
    color: var(--color-gray);
}

/* BUTTONS */

.btn {
    font-size: 1.45rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding: 2rem 4rem;
    transition: all .3s ease;
}

.btn-black {
    color: var(--white-color);
    border: 1px solid var(--white-color);
}

.btn-black:hover {
    color: var(--black-color);
    background-color: var(--white-color);
}

/* HEADER */

.header {
    background-image: url("images/hero-bg-desktop.jpg");
    background-size: cover;
    color: var(--white-color);
    height: 120vh;
    padding: 5rem 0 50rem;
    position: relative;
}

.header .header_text-box {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    max-width: 50rem;
}

.header_text-box p {
    max-width: 45rem;
    margin: 3.3rem 0;
}

/* SHARED STYLES BY SECTONS */

.family,
.locally {
    padding: 5rem 0;
    background-repeat: no-repeat;
}

.content-box {
    transform: translateY(30%);
}

.content-box svg {
    margin-bottom: 5rem;
}

.content-box h2 {
    margin-bottom: 3rem;
}

.image-box {
    background-size: cover;
    height: 60rem;
    width: 100%;
    transform: translateY(-18%);
    box-shadow: 0 7.5rem 10rem -5rem rgba(56, 66, 85, 0.5);
}

/* FAMILY SECTION */

.family {
    background-image: url("images/pattern-curve-top-right.svg");
    background-position: center left;
}

.family .image-box {
    background-image: url("images/enjoyable-place-mobile.jpg");
}

/* LOCALLY SECTION */

.locally {
    background-image: url("images/pattern-curve-top-left.svg");
    background-position: center right;
}

.locally .image-box {
    background-image: url("images/locally-sourced-mobile.jpg");
    position: relative;
}

.locally .image-box::before {
    content: '';
    position: absolute;
    top: 40%;
    right: -10rem;
    width: 20rem;
    height: 10rem;
    background-image: url("images/pattern-lines.svg");
    background-repeat: no-repeat;
}

/* HIGHLIGHTS SECTION */

.highlights {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 20rem 0 5rem;
    margin-top: -25rem;
}

.highlights .row {
    align-items: flex-start;
}

.highlights .col-2 {
    flex-basis: 50%;
}

.highlights .col-2:first-child {
    padding-right: 10rem;
}

.highlights .content-box {
    transform: translateY(0);
}

.highlights h2 {
    color: var(--white-color);
}

.highlights h3 {
    padding-top: 1rem;
    margin-bottom: 1.7rem;
}

.menu-item {
    font-size: 1.49rem;
    display: flex;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
}

.menu-item:not(:last-child) {
    border-bottom: 1px solid rgb(36, 43, 55);
}

.menu-image-box {
    display: flex;
    align-items: flex-start;
}

.menu-image {
    position: relative;
    z-index: 10;
}

.divide {
    position: relative;
    top: 1.5rem;
    left: -3.5rem;
}

/* RESERVATION SECTION */

.reservation {
    background-image: url("images/ready-bg-desktop.jpg");
    background-size: cover;
    height: 23rem;
}

.reservation .row {
    height: 23rem;
    align-items: center;
}

.reservation h2 {
    color: var(--white-color);
}

/* FOOTER SECTION */

footer {
    background-color: var(--dark-bg);
    color: var(--white-color);
    padding: 7rem 0;
}

footer .row {
    align-items: flex-start;
}

ul li {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 1.2rem;
}