@font-face {
  font-family: "Spartan Regular";
  src: url("../../../textfont/Spartan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Spartan Thin";
  src: url("../../../textfont/Spartan-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Spartan SemiBold";
  src: url("../../../textfont/Spartan-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Spartan Bold";
  src: url("../../../textfont/Spartan-Bold.ttf") format("truetype");
}

:root {
  --color-1: hsl(151, 93%, 32%);
  --color-1-dark: hsl(157, 94%, 27%);
  --color-2: hsl(0, 0%, 22%);
  --color-3: hsl(0, 0%, 44%);
  --color-3-light: hsl(0, 0%, 65%);
  --color-4: hsl(160, 60%, 99%);
  --color-5: hsl(0, 0%, 100%);
  --ff-thin: "Spartan Thin", sans-serif;
  --ff-regular: "Spartan Regular", sans-serif;
  --ff-semibold: "Spartan SemiBold", sans-serif;
  --ff-bold: "Spartan Bold", sans-serif;
  --font-size-h1: 4rem;
  --font-size-h2: 2.7rem;
  --letter-spacing-L: 4.17px;
  --letter-spacing-S: 2px;
  --line-height-L: 1.8;
  --line-height-M: 1.4;
  --line-height-S: 1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: var(--ff-regular);
  font-size: 10px;
}

body {
  background-color: var(--color-4);
  color: var(--color-3);
  font-size: 1.5rem;
}

p {
  line-height: var(--line-height-L);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 8rem 0;
}

img {
  width: 100%;
}

.container {
  max-width: 120rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1.8rem;
          column-gap: 1.8rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 1.7rem 4rem;
  border-radius: 10rem;
  outline: none;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn--primary {
  background-color: var(--color-1-dark);
  color: var(--color-5);
}

.btn--primary::after {
  background-color: var(--color-1-dark);
}

.btn__flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__flex svg {
  margin-left: .5rem;
  fill: var(--color-5);
}

h1, h2 {
  color: var(--color-2);
  line-height: var(--line-height-M);
  font-family: var(--ff-semibold);
}

h1 {
  font-size: var(--font-size-h1);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--font-size-h2);
  margin-bottom: 1.5rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 7rem;
  padding: 3.5rem 0;
}

.nav__logo {
  color: var(--color-1-dark);
  font-family: var(--ff-semibold);
  font-size: 1.9rem;
  position: relative;
}

.nav__logo::after {
  content: '';
  position: absolute;
  top: -.2rem;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-1-dark);
  border-radius: 50%;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.nav__logo:hover::after {
  opacity: 0;
}

.nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 1.8rem;
          column-gap: 1.8rem;
}

.nav__link {
  font-family: var(--ff-semibold);
  color: inherit;
  font-size: 1.5rem;
}

.nav__link:hover {
  color: var(--color-1-dark);
}

.hero {
  padding: 4rem 0;
}

.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text p {
  width: 70%;
  margin-bottom: 3rem;
}

.signature .subheading {
  margin-bottom: 3.5rem;
  width: 70rem;
  max-width: 100%;
}

.signature__item {
  height: 32rem;
  width: 32rem;
  background-size: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  position: relative;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.signature__item:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.signature__item--box {
  position: absolute;
  padding: 1.2rem;
  background-color: var(--color-5);
  bottom: 0;
  left: 0;
  width: 100%;
}

.signature__item--box p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signature .item--one {
  background-image: url("../../images/food1.jpg");
}

.signature .item--two {
  background-image: url("../../images/food2.jpg");
}

.signature .item--three {
  background-image: url("../../images/food3.jpg");
}
