*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Spartan Regular", sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.8rem;
}

p {
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 110rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: "Spartan Regular";
  src: url("../../../textfont/Spartan-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Spartan Thin";
  src: url("../../../textfont/Spartan-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Spartan SemiBold";
  src: url("../../../textfont/Spartan-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Spartan Bold";
  src: url("../../../textfont/Spartan-Bold.ttf") format("truetype");
}

.btn {
  padding: 2.5rem 5.4rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  border: none;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn-transparent {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: transparent;
}

.btn-transparent:hover {
  color: #111111;
  background-color: #FFFFFF;
}

.header {
  background-color: #111111;
  background-image: url("../../../images/hero-bg-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 6rem 0 2rem;
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 90%;
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
  width: 55rem;
  max-width: 100%;
  color: #FFFFFF;
}

.header__heading {
  font-family: "Spartan Thin", sans-serif;
  font-size: 6.4rem;
}

.header__paragraph {
  margin-top: 3rem;
}

.header__btn {
  margin-top: 3rem;
}
