// COLORS
$color-gray: #242b37;
$color-gray-light: #5c6779;
$color-gray-dark: #111111;
$color-brown: #9e7f66;
$color-brown-gray: #4C4C4C;
$color-dark-blue:#17192b;
$color-white: #FFFFFF;
$color-error: #B54949;