.header {
    background-color: $color-gray-dark;
    background-image: url("../../../images/hero-bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 6rem 0 2rem;
    position: relative;

    &__text-box {
        position: absolute;
        top: 90%;
        transform: translateY(-90%);
        width: 55rem;
        max-width: 100%;
        color: $color-white;
    }

    &__heading {
        font-family: $ff-thin;
        font-size: $font-size-h1;
    }

    &__paragraph {
        margin-top: 3rem;
    }

    &__btn {
        margin-top: 3rem;
    }
}